@charset "utf-8";

#sect_user{
    position:fixed;
    top:1em;left:1em;
    font-size:15px;}

#ipt_user{
    width:16ch;
    padding:.4em .8em;
    background:var(--box);
    border:none; border-radius:2px;}

#ipt_user::placeholder{color:rgba(255,255,255,.2);}

[id ^= "btn_user-"]{
    padding:.7em 1em; margin-left:0;
    background:var(--box);
    border:none;
    border-radius:2px;
    font-size:.8em;}

    [id ^= "btn_user-"]:hover{background:rgba(255,255,255,.8);color:#222;}